/*Utilizzo in gran parte dei case le misure relative anziche quelle assolute in px perchè almeno rimangono proporzionate su qualunque dispositivo 
che visualizza il sito*/
.navbar {
    overflow: hidden;
    /*utilizzo colori che possono essere in palette con la montagna, ad esempio verde, marrone e verde pino */
    background-color: #4c91d7;
    font-family: Arial, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
  }
  .navbar a:hover{
    background-color: rgb(6, 48, 88);
    /*aggiungo anche in questo caso border color in modo da far colorare anche il bordo quando viene selezionato*/
    border-color: rgb(6, 48, 88);
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 1rem;
}

.contenitore {
    max-width: 62.5rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #080345;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #1c4262;
}

.evento {
    /*utilizzo le flexbox per adattare la grandezza delle immagini a quello della descrizione dell'evento, che altrimenti risulterebbe
    sproporzionato nelle misure --> link per le flexbox: https://www.w3schools.com/css/css3_flexbox_container.asp*/
    /*display: flex; */
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background-color: #efefef;
    border-radius: 0.5rem;
}

.evento img {
    /*modificando il tasto ispeziona fino a quando non si ottiene un'immagine più o meno corretta*/
    max-width: 12.5rem;
    height: fit-content;
    width: fit-content;
    margin-right: 1.25rem;
    border-radius: 0.5rem;
    /*aumento il margine di sotto dell'immagine in modo che il testo della descrizione non vada ad inserirsi subito sotto l'immagine*/
    float: left;
}

.evento .descrizione {
    display: flex;
    flex: 1; 
    color: #333;
    /*imposta la spaziatura dei caratteri nella pagina*/
    line-height: 1.3;
}

.scadenza {
    clear: both;
    display: block;
    text-align: left;
    margin-top: 2.5rem;
    color: #666;
}

.contatore {
    display: flex;
    align-items: center;
    margin-top: 0.625rem;
}

.contatore input[type=button] {
    width: 1.875rem;
    height: 1.875rem;
    background-color: #4ba7f8;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.contatore input[type=button]:hover {
    background-color: #0056b3;
}

.contatore input {
    width: 3.125rem;
    height: 1.875rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    margin: 0 0.3125rem;
    font-size: 1rem;
}

/*utilizzo come sempre sans-serif quando non sono in stampa*/
.costoBiglietto{
    color: rgb(52, 70, 212);
    font-family: sans-serif;
    margin: auto;
    font-style: italic;
    /*meglio più opaco*/
    opacity: 0.6;
}
.bottoniFinali {
    margin-left:40%;
    display: flex;
    justify-content: left;
    margin-top: 1.25rem;
    padding: 0.625rem;
    align-items: center;
}

.bottoniFinali input[type="submit"],
.bottoniFinali input[type="reset"] {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.bottoniFinali input[type="submit"] {
    background-color: #5e4caf; 
    color: white;
}

.bottoniFinali input[type="reset"] {
    background-color: #36bef4; 
    color: white;
    margin-left: 0.625rem;
}

.bottoniFinali input[type="submit"]:hover {
    background-color: #3e5294;
}
.bottoniFinali input[type="reset"]:hover {
    background-color: #0545d9;
}

.costoTotale {
    margin-top: 1.875rem;
    clear: both;
    color: #1c4262;
}
/*in questo caso potrei utilizzare anche le misure assolute ma lo lascio in questo modo, la cosa importante è che non vengano utilizzate 
nella stampa del sito web normale*/
@media print {
    /*inserisco il font serif che è caratteristico della stampa*/
    body {
        font-family: serif;  
    }
    .evento {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /*aggiungo dei margini in modo che quando provo ad andare in stampa il testo della descrizione non rimanga troppo attaccato all'immagine*/
    .evento img {
        margin: 0.625rem;
    }

    .evento .descrizione {
        text-align: left;
    }
}
/*dalle slide + appunti: clear non accetta altri contenitori flottanti ai lati mentre float crea dei contenitori 
mobili che possono essere posizionati utilizzando float left, right etc.*/
.messaggio{
    font-size: medium;
    color:#080345;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 2rem;
}
.bordo{
    margin: 1rem;
}

#pagina_logout{
    text-align: center;
    margin-top: 4rem;
}

#richiesta{
    color: rgb(38, 47, 133);
    font-weight: bold;
}
.bottoni{
    justify-content: left;
    align-items: center;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3125rem;
    /*utilizzando il pointer rendo l'utente consapevole di essere sopra un qualcosa che è possibile selezionare*/
    cursor: pointer;
    background-color: #122644; 
    color: white;
    /*inserisco una transizione per far cambiare il colore in modo uniforme --> 0.5 è quella che forse è più
    utile e ideale, tempi superiori sarebbero esagerati mentre inferiori sono poco percepibili*/
    transition: 0.5s;
    margin: auto;
    /*inserisco questo margin per staccare i bottoni di login e cancella quando viene ripiggiolita la finestra*/
    margin-top: 1rem;
}

/*per i bottoni, faccio cambiare il colore quando si passa sopra con il mouse per rendere più visibile e più intuitivo il sito
agli utenti*/
.bottoni:hover{
    background-color: rgb(18, 61, 117);
}
table {
    width: 100%;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
    background-color: #1f42b4;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #030742;
}

th {
    background-color: #3481d8;
    color: #333;
}

tr:hover {
    background-color: #6b61fd;
}

td {
    text-align: center;
}
.successo{
    color: rgb(36, 173, 128);
    font-size: 0.9rem;
    margin-left: 2rem;
}

.check{
    color:#4c91d7;
    margin:3rem;
    font-weight: bold;
    font-size: large;
}

#colora{
    background-color: #122f64;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}