/*Utilizzo in gran parte dei case le misure relative anziche quelle assolute in px perchè almeno rimangono proporzionate su qualunque dispositivo 
che visualizza il sito*/
.navbar {
  overflow: hidden;
  /*utilizzo colori che possono essere in palette con la montagna, ad esempio verde, marrone e verde pino */
  background-color: #4c91d7;
  font-family: Arial, sans-serif;
}

.navbar a {
  float: left;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}
.navbar a:hover{
  background-color: rgb(6, 48, 88);
  /*aggiungo anche in questo caso border color in modo da far colorare anche il bordo quando viene selezionato*/
  border-color: rgb(6, 48, 88);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size: 1rem;
}
h1{
  text-align: center;
  color:darkblue;
}
h2{
  font-size: medium;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family: sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
}
p{
  display: inline;
  font-family: sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
}
figure{
margin:auto;
}